<form   method="post" name="f" id="f">
    <table border="1" bordercolor="#000000" bgcolor="#999999">
        <tr>
            <td colspan="2">
                <akuvit></akuvit>
            </td>
        </tr>
        <tr>
            <td>ID-client</td>
            <td><input name="id" type="text" id="id" maxlength="20"></td>
        </tr>
        <tr>
            <td>id_Borne</td>
            <td><input name="idB" type="text" id="idB" maxlength="10"></td>
        </tr>
        <tr>
            <td>disponibilité</td>
            <td><input name="disp" type="text" id="disp" maxlength="50"></td>
        </tr>


        <tr>
            <td><input name="b1" type="submit" id="b1" value="ajouter"></td>
            <td><input name="b2" type="reset" id="b2" value="Annuler"></td>
        </tr>

    </table>
</form>